<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    @{Html.RenderPartial("~/Views/Shared/_MenuPartial.cshtml"); }
<<<<<<< HEAD
        <div class="col-xs-12 col-md-12" style="background:#0080FF;margin:0 auto;width:960px;padding:0px;border:0px">
            <ul class="nav nav-tabs">
                <li>@Html.ActionLink("Trang Chủ", "Index", "Home")</li>
=======
        <div class="col-xs-12 col-md-12" style="background:#B22222;margin:0 auto;width:960px;padding:0px;border:0px">
            <ul class="nav nav-tabs">
                <li><a class="colorwhite" href="#">Trang Chủ </a></li>
>>>>>>> eb50b25b8f7ffc13470be45218144ffe6ee310f6
                <li>
                    <a class="colorwhite" href="#">Cập nhật thông tin</a>
                </li>
                <li>
<<<<<<< HEAD
                    @Html.ActionLink("Xem Danh Sách Upload", "Index", "Manager")
=======
                    <a class="colorwhite" href="#">Xem danh sách upload</a>
>>>>>>> eb50b25b8f7ffc13470be45218144ffe6ee310f6
                </li>
            </ul>
        </div>
    <div class="col-xs-12 col-md-12" style="width:960px;margin:0 auto;">
        @RenderBody()
    </div>
    <div class="col-md-12" style="width:960px;margin:0 auto;background:steelblue;padding:20px">
        &copy; 2017 | &nbsp; All Rights Reserved | &nbsp; www.docshrae.com | &nbsp; 24x7 support | &nbsp; Email us: info@yourdomain.com
    </div>
    <script src="~/Scripts/bootstrap.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
