<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    @{Html.RenderPartial("~/Views/Shared/_MenuPartial.cshtml"); }
        <div class="col-xs-12 col-md-12" style="background:#0080FF;margin:0 auto;width:960px;padding:0px;border:0px">
            <ul class="nav nav-tabs">
                <li>@Html.ActionLink("Trang Chủ", "Index", "Home")</li>
                <li>
                    <a class="colorwhite" href="#">Cập nhật thông tin</a>
                </li>
                <li>
                    @Html.ActionLink("Xem Danh Sách Upload", "Index", "Manager")
                </li>
            </ul>
        </div>
    <div class="col-xs-12 col-md-12" style="width:960px;margin:0 auto;">
        @RenderBody()
    </div>
    <div class="col-md-12" style="width:960px;margin:0 auto;background:steelblue;padding:20px">
        &copy; 2017 | &nbsp; All Rights Reserved | &nbsp; www.docshrae.com | &nbsp; 24x7 support | &nbsp; Email us: info@yourdomain.com
    </div>
    <script src="~/Scripts/bootstrap.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
