@using DocShare.Models
@model LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        <section id="loginForm">
           @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form2", role = "form" }))
           {
            @Html.AntiForgeryToken()

            <header>@Html.ActionLink("DocShare.com", "Index", "Home", new { @class = "link1" }) - Login</header>
            <label class="col-md-2" for="usermail">Email <span style="left:34px;top:-4px">*</span></label>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "input_a", placeholder = "yourname@email.com" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "input_a" })
            </div>
            <label class="col-md-2" for="usermail">Password <span style="left:60px;top:-4px">*</span></label>
            @*<label>Password <span style="left:60px;top:-4px">*</span></label>*@
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "input_a", placeholder = "password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "input_a" })
            </div>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>
                <div>
                    <button type="submit" class="login">Login</button>
                    <button class="cancel">@Html.ActionLink("Cancel", "Index", "Home")</button>
                </div>

                <div>
                    @Html.ActionLink("Register as a new user", "Register")
                    <a class="link" href="#">@Html.ActionLink("Forgot your password?", "ForgotPassword")</a>
                </div>
                }
</section>
    </div>
    @*<div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>*@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<link href="~/Content/css1.css" rel="stylesheet" />