@model DocShare.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = null;
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <header>@Html.ActionLink("DocShare.com", "Index", "Home", new { @class = "link1" }) - Register</header>
    <label for="usermail">Email<span>*</span></label>
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Email, new { @class = "input_a", placeholder = "yourname@email.com" })
    </div>
    <label>Password <span>*</span></label>
    <div class="col-md-10">
        @Html.PasswordFor(m => m.Password, new { @class = "input_a", placeholder = "Password" })
    </div>
    <label>Confirm password<span>*</span></label>
    <div class="col-md-10">
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input_a", placeholder = "Password" })
    </div>
    <label>Name<span>*</span></label>
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.FullName, new { @class = "input_a", placeholder = "Name" })
    </div>
    <label>Gender<span>*</span></label>
        @Html.TextBoxFor(m => m.Gender, new { @class = "input_a", placeholder = "Gender" })
    <div>
        <button class="register">Register</button>
        <button class="cancel">@Html.ActionLink("Cancel", "Index", "Home")</button>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<link href="~/Content/css2.css" rel="stylesheet" />