@model DocShare.Models.TaiLieu
@{
    ViewBag.Title = "Submit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Submit</h2>

@using (Html.BeginForm("Submit", "DocumentManager", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    <div class="row">
        <label class="col-md-2 control-label">
            Nhan Đề
        </label>
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.NhanDe, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <label class="col-md-2 control-label">
            Số Trang
        </label>
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.SoTrang, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <label class="col-md-2 control-label">
            Kich Thuoc
        </label>
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.KichThuoc, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <label class="col-md-2 control-label">
            Luot Xem
        </label>
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.LuotXem, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <label class="col-md-2 control-label">
            File
        </label>
        <div class="col-md-10">
            <input type="file" id="FileUpload" name="file"  />
        </div>
    </div>
    <div class="row">
        <label class="col-md-2 control-label">
            So Lan Download
        </label>
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.SoLanDownload, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <label class="col-md-2 control-label">
            Ghi Chu
        </label>
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.GhiChu, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <label class="col-md-2 control-label">
            Phi
        </label>
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Phi, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <label class="col-md-2 control-label">
            Tinh Trang
        </label>
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.TinhTrang, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <label class="col-md-2 control-label">
            Anh
        </label>
        <div class="col-md-10">
            <input type="file" id="" name="file" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Submit" />
        </div>
    </div>
}