@using PagedList;
@using PagedList.Mvc;
@using DocShare.Models;
@model PagedList.PagedList<TaiLieu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int pageSize = ViewBag.PageSize;
    string searchString = ViewBag.SearchString;
}

<div class="container">
    @*<div>
            @ViewBag.ThongBao
        </div>*@
    <div class="">
        <select id="sort" name="Sort" class="form-control sort">
            <option value="">--Choose--</option>
            <option value="0">Ngày upload</option>
            <option value="1">Lượt rating</option>
            <option selected="selected" value="2">All</option>
        </select>
    </div>
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <img src="@item.Anh" height="300" width="200" style="margin:5px" />
            </div>
            <div class="col-xs-12 col-sm-8" style="top:20px">
                <p style="top:20px">@item.NhanDe</p>
                @Html.ActionLink("Xem chi tiết...", "Detail", new { controller = "TaiLieu", id = item.MaTaiLieu })<br />
            </div>
        </div>
    }
    @*@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))*@
</div>
@*Trang @((Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / Model.PageCount)*@

@Html.PagedListPager(Model, page => Url.Action("Index", new { page = page, pageSize = pageSize, searchString = searchString }))
