@model DocShare.Models.TaiLieuViewModel
@{
    ViewBag.Title = "Submit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Submit</h2>

@using (Html.BeginForm("Submit", "Manager", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    <div class="row">
        <label class="col-md-2 control-label">
            Nhan Đề
        </label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.NhanDe, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <label class="col-md-2 control-label">
            Số Trang
        </label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.SoTrang, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <label class="col-md-2 control-label">
            Phi
        </label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Phi, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <label class="col-md-2 control-label">
            Tu Khoa
        </label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.TuKhoa, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <label class="col-md-2 control-label">
            Ma Tác Giả
        </label>
        <div class="col-md-10">
            @Html.DropDownList("MaTacGia", null, "---Select---", new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <label class="col-md-2 control-label">Chuyên Đề</label>
        <div class="col-md-10">@Html.DropDownList("MaChuyenDe", null, "---Select---", new { @class = "form-control" })</div>
    </div>
    <div class="row">
        <label class="col-md-2 control-label">Ngôn Ngữ </label>
        <div class="col-md-10">@Html.DropDownList("MaNgonNgu", null, "---Select---", new { @class = "form-control" })</div>
    </div>
    <div class="row">
        <label class="col-md-2 control-label">
            Anh
        </label>
        <div class="col-md-10">
            <input type="file" id="" name="image" />
        </div>
    </div>
    <div class="row">
        <label class="col-md-2 control-label">
            Tai Lieu
        </label>
        <div class="col-md-10">
            <input type="file" id="" name="file" />
        </div>
    </div>
    <div class="row">
        <label class="col-md-2 control-label">
            Ghi Chu
        </label>
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.GhiChu, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Submit" />
        </div>
    </div>
}
